.logos {
  overflow: hidden;
  padding: 60px 0;
  background: red;
  white-space: nowrap;

  & .logos-slide {
    display: inline-block;

    animation: 10s slide infinite linear;
    & img {
      height: 100px;
      margin: 0 30px;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
