$img-sizes: 150px;

.dark,
.landing-body {
  height: 100%;
  margin: 0;

  background: linear-gradient(
    to bottom right,
    lighten($primary-color, 8%),
    lighten(#000, 5%)
  );

  .landing-main {
    display: flex;
    height: 100%;
    padding: 8px;

    & .hero-container {
      padding-top: 16px;
      height: 100%;
      flex-grow: 1;
      flex-basis: 0;
      color: $soft-white;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      text-align: center;

      & h1,
      & div {
        text-transform: uppercase;
      }

      & h1,
      & span {
        font-size: 24px;
        font-weight: 300;
      }

      & span {
        font-weight: 700;
        color: $secondary-color;
      }

      & .profile {
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
          width: $img-sizes;
          height: auto;
          border-radius: 50%;
          border: 2px solid $secondary-color;
        }

        & p {
          font-weight: 600;
        }
      }
    }
  }

  & header {
    background: #000;

    & p {
      color: $soft-white;
    }

    & .hamburger-menu {
      &::before,
      &::after,
      & input {
        background-color: $soft-white;
      }
    }
  }

  & footer {
    background: #000;

    & .socials i {
      color: $soft-white;
    }
  }
}
