$image-size: 150px;

.landing-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.landing-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 8px;
  background: $secondary-color;

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: $image-size;
    height: $image-size;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .animate-text {
    font-family: monospace;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    line-height: 1.2;
    position: relative;

    & .span-bg {
      display: inline-block;
      width: max-content;
    }

    & span {
      position: relative;
      display: inline-block;
      font-family: monospace;
      white-space: nowrap;
    }
    & span::before {
      content: "Developer\00A0";
      font-family: monospace;
      font-size: 34px;
      color: $jacket-blue;
      animation: words 12s infinite;
    }

    & span::after {
      font-size: 34px;
      font-family: monospace;
      content: "";
      position: absolute;
      width: 100%;
      z-index: 1;
      height: 100%;
      background-color: $secondary-color;
      border-left: 2px solid $sea-green;
      right: 0px;
      animation: cursor 0.8s infinite, typing 12s steps(13) infinite;
    }

    @keyframes cursor {
      to {
        border-left: 8px solid $sea-green;
      }
    }

    @keyframes words {
      0%,
      20% {
        content: "Developer\00A0";
      }

      21%,
      40% {
        content: "Engineer\00A0\00A0";
      }

      41%,
      60% {
        content: "Startupper";
      }

      61%,
      80% {
        content: "Student\00A0\00A0\00A0";
      }

      81%,
      100% {
        content: "Politician";
      }
    }

    @keyframes typing {
      10%,
      15%,
      30%,
      35%,
      50%,
      55%,
      70%,
      75%,
      90%,
      95% {
        width: 0;
      }

      5%,
      20%,
      25%,
      40%,
      45%,
      60%,
      65%,
      80%,
      85% {
        width: calc(100% + 8px);
      }
    }
  }

  & button {
    width: 100%;
    background-color: $primary-color;
    border-radius: 8px;
    color: $soft-white;
    font-size: medium;
    font-weight: 600;
    padding: 16px 0;
    border: none;
    &:hover {
      background-color: lighten($primary-color, 10%);
      color: #ffffff;
      cursor: pointer;
    }
  }

  & a {
    text-decoration: none;
    color: $soft-white;
  }
}
