$image-size: 150px;

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex: 1;

  .hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: $image-size;
    height: $image-size;
    border-radius: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .animate-text {
    font-family: monospace;
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    line-height: 1.2;

    & .span-bg {
      display: inline-block;
      background: $secondary-color;
      width: max-content;
    }

    & span {
      position: relative;
      display: inline-block;
      font-family: monospace;
    }
    & span::before {
      content: "Developer";
      font-family: monospace;
      //   font-size: 34px;
      color: $primary-color;
      animation: words 14s infinite;
    }

    & span::after {
      font-size: 34px;
      font-family: monospace;
      content: "";
      position: absolute;
      width: calc(100% + 8px);
      height: 100%;
      background-color: $soft-white;
      border-left: 2px solid $primary-color;
      right: -8px;
      animation: cursor 0.8s infinite, typing 14s steps(11) infinite;
    }

    @keyframes cursor {
      to {
        border-left: 2px solid $soft-white;
      }
    }

    @keyframes words {
      0%,
      20% {
        content: "Developer";
      }

      21%,
      40% {
        content: "Architect";
      }

      41%,
      60% {
        content: "Startupper";
      }

      61%,
      80% {
        content: "Student";
      }

      81%,
      100% {
        content: "Politician";
      }
    }

    @keyframes typing {
      10%,
      15%,
      30%,
      35%,
      50%,
      55%,
      70%,
      75%,
      90%,
      95% {
        width: 0;
      }

      5%,
      20%,
      25%,
      40%,
      45%,
      60%,
      65%,
      80%,
      85% {
        width: calc(100% + 7px);
      }
    }
  }
}
